@tailwind base;
@tailwind components;
@tailwind utilities;

.hero{
  background-image: url("assets/heroBg.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}