@tailwind base;
@tailwind components;
@tailwind utilities;

.hero{
  background-image: url("assets/heroBg.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

.slider-track {
  -webkit-animation: scroll 30s linear infinite;
  animation: scroll 30s linear infinite;
  width: calc(230px * 14);
}

@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 1200px) {
  .hero {
    background-image: url("assets/mobileBg.png");
  }
}


